body{
    background-color: #b71c1c ;
} 

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(33, 33, 33); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 26, 26); 
}


.about p{
  font-family: 'Ibarra Real Nova', serif;
  font-size: 16px;
  text-align: justify;
}

/* sidenav */
.sidenav{
  background-color: #ab0909;
}
.sidenav p{
  color: white;
}


/* Slider */
.slider h3,
.slider h5,
.slider h4,
.clients h3{
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}


/* parallax */
.parallax-container{
    height: 600px;
    margin-bottom: -30px;
}


/* contact */
.contact{
  background-color: #ab0909;
}
.collection{
  border-radius: 20px;
}


/* footer */
.footer{
  font-size: 25px;
  background-color: rgb(0, 0, 0);
  color: #f1f1f1;
  margin-bottom: 0;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}


/* see more button */
.btnn{
  color: rgb(255, 255, 255);
  margin-left: 80%;
}
